<html>
    <body>
        <center>
            <h1> The Customer details has been registered sucessfully </h1>
            <table colspan="2" bgcolor="skyblue">
                <tr><td>Customer Name :</td><td>{{ customer_name }}</td></tr>
                 <tr><td>Customer City :</td><td>{{ customer_city }}</td></tr>
                 <tr><td>Customer Email :</td><td>{{ customer_email }}</td></tr>
                 <tr><td>Customer Password :</td><td>{{ customer_password }}</td></tr>
                 <tr><td>Customer Address :</td><td>{{ customer_address }}</td></tr>
                <center> <tr><td colspan="2"><a href="home">HOMEPAGE</a></center></td></tr>
            </table>
        </center>
    </body>
</html>