<html>
    <body>
        <center>
            <H1> WELCOME TO THE SARAH ECOMMERCE WEBSITE </H1>
            <BR>
                <BR>
            <h2> REGISTER PAGE LINKS</h2>
            <p><a href="catreg">CATEGORY REGISTER PAGE</a></p>
            <p><a href="custreg">CUSTOMER REGISTER PAGE</a></p>
            <P><a href="product_register"> PRODUCT REGISTER PAGE </a></P>
            <P><a href="venreg"> VENDOR REGISTER PAGE</a></P>

            <h2> DETAILS PAGE LINKS</h2>
            <p><a href="catdetails"> ALL CATEGORY DETAILS </a></p>
            <p><a href="custall">ALL CUSTOMER DETAILS </a></p>
            <P><a href="productdetails"> ALL PRODUCT DETAILS </a></P>
            <h2> ORDER ITEMS LINKS</h2>
            <p><a href="details"> DASHBOARD </a></p>
            
        </center>
    </body>
</html>