<html>
    <body>
        <center>
            <h1>The product registered sucessfully</h1>
           <center> <table colspan="2" bgcolor="skyblue">
                <tr><td>Product Name : </td><td>{{ pname }}</td></tr>
                <tr><td>Product Description :</td><td>{{ pdes }} </td></tr>
                <tr><td>Product Price : </td><td> {{ pprice }} </td></tr>
                <tr><td>Category : </td><td> {{ category_id }}</td></tr>
                <tr><td>Product Image :</td><td> {{ productimage }}</td></tr>
                <tr><td colspan="2"<center><a href="home">HOMEPAGE</a></center></td></tr>
            </table>
        </center>
    </body>
</html> 